* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #232323;
  color: #fff;
  font-size: 80px;
}

.container {
  max-width: 1000px;
  margin: auto;
}

h1, h2 {
  text-align: center;
}

.heading {
  margin-top: 30px;
}

.poly-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.poly {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.poly input, p {
  margin-right: 5px;
}

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

input[type=number] {
  -moz-appearance: textfield;
}

.mathInput {
  color: #fff;
  box-sizing: content-box;
  max-width: 150px;
  outline: none;
  border-bottom: #aaaaaa;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.math-btn {
  padding: 10px;
  margin: 10px 0;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: cornflowerblue;
}

@media only screen and (max-width: 1250px) {
  * {
    font-size: 70px;
  }
  .mathInput {
    max-width: 75px;
  }
}

@media only screen and (max-width: 800px) {
  * {
    font-size: 50px;
  }
  .mathInput {
    max-width: 55px;
  }
}

@media only screen and (max-width: 640px) {
  * {
    font-size: 30px;
  }
  .mathInput {
    max-width: 35px;
  }
}